.about-text-container {
  margin-top: 40px;
  background-color: white;
  padding: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: min(100%, 400px);
  display: flex;
  flex-direction: column;
  gap: 25px;
  animation: fadeIn2 1s ease-in-out forwards;
  

  .about-icons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }
}

@keyframes fadeIn2 {
  from {
    opacity: 0;
    transform: translate(70px);
    
  }

  to {
    opacity: 1;
    transform: translate(0px);
  }
}

